
 /*review page start*/
 .review1 .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:4rem;
    width: 70%;
    margin: 0 auto;
  }

  .review1 .box-container .box{
    flex:1 1 80rem;
    text-align: center;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#e3e3e9;
    padding:2rem;
     
  }
   
  .review1 .box-container .box p{
    font-size:  24px;
    color:rgb(12, 12, 12);
     
  }
  
 .heading{
    font-size: 30px;
    text-align: center;
 }

  span{
    color: red;
    font-weight: 600;
 }
 .box h1{
    font-size: 35px;
 }
  /*review end*/
  .view_button{
    padding: 10px 40px;
    color: white;
    background-color: rgb(31, 18, 212);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .view_button:hover{
    background-color: rgb(161, 141, 218);
    
  }

  .review1 .box-container .box:nth-child(even){
    background-color: rgb(205, 235, 225);
    
  }









 
  
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position:fixed;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0; 
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 2s ease-in-out;
    border: 1px solid black;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    border: 1px solid red;
    padding: 0px 7px ;
    border-radius: 5px;
  }
  .popup .close:hover{
    background-color: black;
  }
  .popup .close:hover {
    color: white;
    border: none;

    outline: none;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    background-color: rgb(229, 235, 243);
    margin-bottom: 10px;
    padding: 20px;
  }
  .popup .content form label{
    font-size: 20px;
    padding: 5px ;
     line-height: 30px;
     
  }
  
  .popup .content form p{
    font-size: 20px;
    font-weight: 600;
    color: blue;
    margin-bottom: 20px;
  }
  .popup .new{
    background-color: black;
    padding: 20px;
    color: white;
 
   
  }
  .popup .new i{
    color: white;
    margin-bottom: -5px;
   
  }
  .popup .new a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  
  }
  .popup .new a:hover{
    color: red;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }







 





