 
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #f5f6fa;
}
.btn{
  padding: 10px 10px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: blue;
  color: white;
  width: 80px;
  cursor: pointer;
}
.btn:hover{
  background-color: #644ceb;
  transition: 0.4s ease;
}

.btn_danger{
  padding: 10px 10px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: red;
  color: white;
  width: 80px;
  cursor:pointer;
}
.btn_danger:hover{
  background-color: #da634e;
  transition: 0.4s ease;
}

/*heading*/
.wrapper .section .headingcontainer{
  margin: 30px;
  background: rgb(19, 118, 199);
  padding: 22px 20px;
  line-height: 28px;
  color: white;
}

.wrapper .section .gap{
 height: 120px;
 width: 100%;
}


.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;
  background:white;
 border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background: rgb(7, 105, 185);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #a2ecff;
}

 .wrapper .section .container{
  margin:30px;
  margin-top: -15px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}


.wrapper .section .top_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.wrapper .section .top_navbar .user{
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}
.wrapper .section .top_navbar .user .profile a img{
  border-radius: 50%;
  height: 25px;
  width: 30px;
  margin-top: 10px;
}
.wrapper .section .top_navbar .user a{
  margin-left: 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;

}
.wrapper .section .top_navbar .search i{
   font-size: 22px;
   color: white;

   padding: 2px 10px;
 
}

.wrapper .section .top_navbar .search input{
  font-size: 16px;
  padding: 3px 30px;
  border-radius: 5px;
  border: none;
  outline:none;
}

 



 /*dashboard*/
 .item-container .value{
 padding: 20px 20px;
 
  
}
.item-container .value{
 transition: 0.2s ease;
}



.item-container .value .val-box{
  background: #3883d8;
  width: 350px;
  padding: 16px 20px;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content:start;
  align-items: center;
  
}


.item-container .value .val-box i{
  font-size: 25px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background: rgb(12, 11, 11);
  margin-right: 55px;

}

.item-container .value .val-box h3{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  font-size: 26px;
}

.item-container .value .val-box span{
  font-size: 20px ;
  color: white;
  margin-left: 0px;
  margin-top: 5px;
  padding-top: 20px;
}

.item-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  box-sizing: border-box;
   
}

.wrapper .section .container1{
  margin:30px;
  margin-top: -15px;
  background: rgb(235, 241, 245);
  padding: 50px;
  line-height: 28px;

  display: flex;
 
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}


/*add*/
.addproduct #form form{
  width: 100%;
  }

  .addproduct #form input,
  .addproduct #form textarea{
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;

  font-size: 16px;
  }
  
  
  .addproduct #form{
  display: flex;
  margin: 30px;
  justify-content: space-between;
  padding: 80px;
  border: 1px solid black;
  
  
  }

  .addproduct #form h2{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .addproduct #form .btn{
    cursor: pointer;
    background-color: #3883d8;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;

  }
  .addproduct #form .btn:hover{
    background-color: rgb(22, 57, 212);
    transition: 0.2s ease;
  }

  /*add products end*/


  /*user info*/
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
    text-align: center;
  
  }
  .wrapper .section .userinfo{
    margin:30px;
    margin-top: -15px;
    background: #fff;
   
  }
  
   
  #customers tr th{
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  
  #customers tr td{  
    padding: 20px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #customers tr:hover {
    background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
 
 
  #customers tr td button a{
    color: white;
  }
 

  /*user page*/
  
  /*user info end*/


  @media (max-width:991px){

    .wrapper .section .top_navbar .user{
     margin: 0 auto;
   }


  }

  @media (max-width:768px){
/*heading*/
.wrapper .section .headingcontainer{
  margin: 30px ;
  background: rgb(19, 118, 199);
  padding: 12px 10px;
  line-height: 28px;
  color: white;
  font-size: 8px;
}
 
.wrapper .section .top_navbar .user{
   margin-right: 150px;
}

.wrapper .section .top_navbar .search input{
  width: 80%;     
}
.wrapper .section .top_navbar .user{
   margin:0 auto;
}

  }

  @media (max-width:400px){
    .wrapper .section .top_navbar .search input{
      width: 80%;     
    }
    .wrapper .section .top_navbar .user{
       margin:0 auto;
    }

    .wrapper .section .top_navbar{   
      height: 100px;
      
    }

 


  }




/*account*/


 
 /*latest product start  */
 .containerproduct{
  margin: 30px;


}



 

/*view message*/
#form form{
  width: 100%;
  }
  
  #form input,
  #form textarea{
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid black;
  }
  
  
  #form{
  
  display: flex;
  margin: 2rem 9% ;
  justify-content: space-between;
  padding: 80px;
  border: 1px solid black;
  
  
  }

  .view  {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0c7db1;
   
  } 

 #form #view{
  text-align: center;
 
 }

 
 